<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
	<title>{% block title %}My Django Blog{% endblock %}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}">
	{% block head %}
	{% endblock %}
</head>
<body>
	<header class="header">
            <span id="title">雾凇</span>
            <nav id="navbar">
                <ul class="nav-links">
                    <li><a href={%url "blog:index"%}>首页</a></li>
                    <li><a href={%url "blog:archive"%}>归档</a></li>
                    <li><a href={%url "blog:search"%}>搜索</a></li>
                </ul>
            </nav>
	</header>
	<main>
		{% block content %}
		{% endblock %}
	</main>
	<footer class="footer">
		<p>&copy; 2021 My Django Blog</p>
	</footer>
</body>
</html>